* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: Poppins-Regular;
  src: url(../fonts/Poppins-Regular.ttf);
}

@font-face {
  font-family: Poppins-Semibold;
  src: url(../fonts/Poppins-SemiBold.ttf);
}

@font-face {
  font-family: Poppins-Bold;
  src: url(../fonts/Poppins-Bold.ttf);
}

html {
  font-family: Poppins, sans-serif;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-size: 16px;
}

body {
  /* overflow: overlay; */
  position: relative;
}

:root {
  /* Background color */
  /* --primary-background-pink: #de135c; */
  --secondary-background-grey: #232323;
  --tertiary-background-blue: #428de5;
  --other-background-gray: #727272;

  --background-light-pink: #ffe8e8;

  --background-black: #000;
  --background-white: #fff;

  /* Text color */
  --text-black: #000;
  --text-white: #fff;
  --primary-text: #b05d5d;
  --secondary-text-grey: #868485;
  --text-red: #e95144;

  /* Linear color */
  --linear-color: linear-gradient(
    to right,
    rgba(45, 139, 201, 0.8),
    rgba(248, 212, 27, 0.4)
  );
  --linear-color-second: linear-gradient(
    to right,
    rgba(66, 141, 229, 0.3),
    rgba(255, 137, 179, 1)
  );
  /* Text size */
  --text-h1: 4.8rem;
  --text-h2: 3.906rem;
  --text-h3: 3.125rem;
  --text-h4: 2.5rem;
  --text-h5: 2rem;
  --text-h6: 1.6rem;
  --text-h7: 1.28rem;
}

a {
  text-decoration: none;
  color: var(--primary-text-black);
}

.text-danger {
  color: red;
  font-size: small;
}

input,
textarea,
button {
  font-family: Poppins, sans-serif;
}
